<!--The whole content below can be removed with the new code.-->
<!-- https://v4-alpha.getbootstrap.com/components/forms/ -->
<div>
<div>


<div class="container ">
<h2>Trouble Ticket</h2>
  <form class="form-horizontal lefttext" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-1" for="email">Account</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" placeholder="Enter account number" name="account">
      </div>
      <div class="btn-group btn-group-sm col-sm-2" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Go</button>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="ticket">Search</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="ticket" placeholder="Type in ticket or service item" name="ticket">
      </div>
    </div>
  </form>
  <p>Filter Result by</p>
   <div class="btn-group btn-group-sm btn-group-md btn-group-lg" role="group" aria-label="...">
    <a type="button" class="btn btn-primary">Open<span class="badge">4</span></a>
    <a type="button" class="btn btn-primary">Waiting<span class="badge">4</span></a>
    <a type="button" class="btn btn-primary">Resolved<span class="badge">4</span></a>
    <a type="button" class="btn btn-primary">Close<span class="badge">4</span></a>
    <a type="button" class="btn btn-primary">All<span class="badge">4</span></a>
   </div>
   <ul class="breadcrumb pipe">
    <li><a href="#">Expand All</a></li>
    <li><a href="#">Collapse All</a></li>
    <li><a href="#">Collapse All</a></li>
   </ul>

<div class="list">
 <div class="btn-group btn-group-justified" >
  <a href="#" class="btn btn-primary border-right-none">Ticket No</a>
  <a href="#" class="btn btn-primary border-left-right-none">Account</a>
  <a href="#" class="btn btn-primary border-left-right-none">Category</a>
  <a href="#" class="btn btn-primary border-left-right-none">Status</a>
  <a href="#" class="btn btn-primary border-left-right-none">Service Item</a>
  <a href="#" class="btn btn-primary border-left-right-none">Created</a>
  <a href="#" class="btn btn-primary border-left-none">Last Updated</a>
 </div>
<div class="btn-group btn-group-justified" >
  <a href="#" class="btn btn-default border-right-none">INCXXXXXX</a>
  <a href="#" class="btn btn-default border-left-right-none">2437604</a>
  <a href="#" class="btn btn-default border-left-right-none">Data/Circuit/Latency</a>
  <a href="#" class="btn btn-default border-left-right-none">Open</a>
  <a href="#" class="btn btn-default border-left-right-none">F3F5.3456.370</a>
  <a href="#" class="btn btn-default border-left-right-none">05/09/2017</a>
  <a href="#" class="btn btn-default border-left-none">05/09/2017</a>
 </div>
<div class="btn-group btn-group-justified" >
  <a href="#" class="btn btn-default border-right-none">INCXXXXXX</a>
  <a href="#" class="btn btn-default border-left-right-none">2437604</a>
  <a href="#" class="btn btn-default border-left-right-none">Data/Circuit/Latency</a>
  <a href="#" class="btn btn-default border-left-right-none">Open</a>
  <a href="#" class="btn btn-default border-left-right-none">F3F5.3456.370</a>
  <a href="#" class="btn btn-default border-left-right-none">05/09/2017</a>
  <a href="#" class="btn btn-default border-left-none">05/09/2017</a>
 </div>
</div>

 <div>
</div>
